body{
    padding: 20px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: white;
}

html { 
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.cards {
    display: flex;
    flex-direction: row;
    
 }

.card{
    flex: auto;
    background-color: rgb(226, 185, 192);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    margin: 10px;
    margin-left: 300px;
    margin-right: 400px;
    height: 500px;
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.text-center{
    color: black;
   
    text-align: center;
}
.player-b-1{
    flex: auto;
    width: 400px;
    background-color: pink;
}
.player-2{
    width: 400px;
}
#dice{
    margin-top: 100px;
    margin-bottom: 100px;
    flex: auto;
    width: 180px;
    height: 150px;
   
}
.add-points,.dice-roll{
   
    background-color:rgb(209, 49, 102);
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.green {
  border-radius: 5px;
  margin-bottom: 2px;
  color: white;
}

.green:hover {
  background-color:grey;
  color: white;
}

.red {
  border-radius: 5px;
  color: white
}

.red:hover {
  background:grey;
  color: white;
}
.score-1,.score-2{
    width: 150px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: white;
    font-size: 4em;
    height: 100px;
    background:palevioletred;
}
.total-score-1,.total-score-2{
    font-size: 5em;
    text-align: center;
    color: black;
}
.player-head-1,.player-head-2 {
    font-size: 2em;
    text-align: center;
}